@charset 'UTF-8';
/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font-family: Arial;
  font-weight:bold;
  text-transform : uppercase;
 /* line-height: 1;*/
}
#cssmenu {
  width: auto;
}
#cssmenu ul {
  zoom: 1;
  width: 1000px;
  background: #6a6b6c;
  /*
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #444545;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  */
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
  padding: 10px 5px; 
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #1e1f1f;
  /* border-right: 1px solid #444545; */
}
#cssmenu a:hover {
  color: #FFF;
  text-shadow: 0 1px 1px #838586;
}
#cssmenu li {
  float: left;
 /* border-right: 1px solid #777879; */
  width:142px;
  text-align:center;
}
#cssmenu li:hover {
  background: #1b7dec;
}
#cssmenu li:first-child {
  border-left: none;
  /*
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  */
}
