/*-----------------*/
.indent{
    text-indent: -9999px;
}

.clearfix{
    clear: both;
}

.center{
    text-align: center;
}

.blue{
    color: #4193ef;
}

.rouge{
    color: #ff0018;
}

.orange{
    color: #ff8d06;
}

.page_titre{
	border-radius:8px;
    background: #539cf1;
    border: solid 1px #000;
    max-height: 40px;
    min-height: 40px;
    margin-bottom: 35px;
}

.page_titre .titre{
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 40px;
    padding-left: 40px;
}
/*-----------------*/
.promotions{
    width: 685px;
    float: left;
}
#promotions{
    background: url(/img/promotions.png);
    width: 685px;
    height: 45px;
}
.promotions .produit,.complement .produit{
    border: solid 1px #000;
    float: left;
    padding: 20px 8px 3px 8px;
    margin-left: 8px;
    width: 147px;
	height: 290px;
    position: relative;
}

.complement .produit.first,
.promotions .produit.first{
    margin-left: 0;
}

.complement .produit .promo,
.promotions .produit .promo{
    background: url(/img/promo.png);
    width: 59px;
    height: 58px;
    display: inline-block;
    float: right;
    top: -1px;
    right: -1px;
    position: absolute;
}

.complement .produit .titre,
.promotions .produit .titre{
    color: #cb4d26;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    max-width: 147px;
	min-height:35px;
}

.complement .produit .prix,
.promotions .produit .prix{
    color: #cb4d26;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.complement .produit .lients,
.promotions .produit .lients{
    margin: 0 auto;
    width: 145;
}

.complement .produit .voir,
.promotions .produit .voir,
.complement .produit .panier,
.promotions .produit .panier{
    display: inline-block; 
    text-decoration: none;
    color: #fff;
    width: 69px;
    height: 23px;
    text-align: center;
	margin:0 auto;
}

.complement .produit .panier,
.promotions .produit .panier
{background: url(/img/bg-panier.png);}

.complement .produit  .voir,
.promotions .produit .voir
{background: url(/img/bg-voir.png);}

.produit-du-mois{
    padding: 15px 0;
    float: left;
}

.produit-du-mois h3{
    background: url(/img/produit-du-mois.png);
    width: 269px;
    height: 45px;
    margin-bottom: 0;
    position: relative;
    top: 2px;
}

.produit-du-mois .produit{
    background: url(/img/bg-produit-du-mois.png) no-repeat;
    max-height: 332px;
    min-height: 332px;
    padding-top: 10px;
}

.produit-du-mois .produit .prix{
    text-align: right;
}

.produit-du-mois .produit .prix span{
    font-weight: bold;
    font-size: 30px;
    display: block;
}
.produit-du-mois .produit .desc{
    text-align: center;
	padding-left: 4px;
}

.produit-du-mois .produit .infos{
    float: left;
    width: 124px;
    text-align: center;
}

.produit-du-mois .produit .therme{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
	text-align: left;
	margin:-5px 5px 5px 5px;
}

.blocks div{
    float: left;
    height: 183px;
    padding-top: 44px;
    width: 314px;
    font-size: 12px;
}

.blocks a{
    color: #000;
    font-weight: bold;
}

.blocks .formes a{
    color: #4193ef;
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
}


.blocks .partenaires{
    background: url(/img/Nos-Partenaires.png) no-repeat;
}

.blocks .videos{
    background: url(/img/Nos-conseils-video.png) no-repeat;
    margin: 0 11px;
}

.blocks .videos a{
    background: url(/img/video-plus.png) no-repeat left center;
    padding-left: 20px;
    margin-left: 5px;
    display: inline-block;
    line-height: 17px;
}

.blocks .formes{
    font-weight: bold;
    background: url(/img/Formes-et-decoupes-specifiques.png) no-repeat;
    text-align: center;
    color: #4193ef;
    font-size: inherit;
}

.carre{
    padding-left: 35px;
    font-size: 12px;
}

.carre-orange{
    background: url(/img/carre-orange.png) no-repeat left top;
}
.carre-blue{
    background: url(/img/carre-blue.png) no-repeat left top;
}
.carre-vert{
    background: url(/img/carre-vert.png) no-repeat left top;
}

.separ{
    background: url(/img/separation.png) no-repeat center top;
    height: 13px
}


/*---------------Page Categorie----------------*/
#categorie .item{
    border: solid 1px #539cf1;
    width: 688px;
    float: left;
    margin: 5px 0;
}

#categorie .item .block{
    padding:10px 6px;
    float: left;
}

#categorie .item .img{
}

#categorie .item .desc{
    background: url(/img/separ-vertical.png) no-repeat right center;
    width: 405px;
}

#categorie .item .prix{
    text-align: center;
    margin-top: 25px;
}

#categorie .item .prix span{
    display: block;
    font-weight: bold;
    font-size: 24px;
}
#categorie .item .prix a{
    text-decoration: none;
    background: url(/img/voir-produit.png) no-repeat;
    width: 102px;
    height: 28px;
    display: block;
}

#categorie .page_titre .products_number{
    color: #000;
    font-style: italic;
    font-size: 12px;
    float: right;
    line-height: 40px;
    padding-right: 20px;
}

#categorie .categorie_desc{
    color: #a9a9a9;
    font-size: 14px;
}

#categorie .categorie_slider{
    width: 686px;
    height: 273px;
    background: url(/img/categorie_slider.png) no-repeat center center;
    margin: 20px 0 35px 0;
}
#categorie .categorie_slider img {
    margin-top: 7px;
	margin-left: 6px;
}

#categorie .verre-categorie a{
    display: block;
    float: left;
    margin-left: 20px;
}

/*--------------------------------------------*/

/*-----------------Page Produit----------------*/

#produit #features .features{
 /*   background: url(/img/bg-fetaures.png) no-repeat center top; */
    width: 350px;
    float: left;
    margin-left: 10px;
}

#produit #features .features .separ{
    background: url(/img/bg-features.png) no-repeat center top;
    height: 1px;
    padding-top: 15px;
}

#produit #features .features .row{
    margin: 10px 0;
}

#produit #features .features select{
    width: 150px;
    color: #000;
}
#produit #features .features label,
#produit #features .features .text,
#produit #features .features .info{
    color: #539cf1;
    float: left;
    width: 100px;
    font-size: 14px;
}

#produit #features .features .info{
    font-size: 12px;
    width: 110px;
    margin-left: 10px;
}

#produit #features .features .text{
    width: 100px;
    color: #000;
    border: solid 1px #000;

}

#produit #features .features .submit{

 /*   background-image:url("/img/btn_calculer_fond.png"); */
	color: #FFFFFF;
	margin-left: 100px;
    margin-top: 10px;
    padding: 5px 15px;

	border: medium none;


	
	
	
}

#produit #features .features .infos,
#produit #features .features .add_to_cart
{
    float: left;
    width: 140px;
}
#produit #features .features .infos{
    font-style: italic;
    font-size: 14px;
    color: #a3a3a3;
}

#produit #features .features .infos p{
    margin: 0;
}

#produit #features .features .infos .prix{
    color: #539cf1;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
}

#produit #features .features .ref{
    color: #a3a3a3;
    font-size: 14px;
}

#produit #features .features .add_to_cart .qte{
    width: 25px;
    border: solid 1px #000;
}

#produit #features .features .add_to_cart label{
    width: 60px;
    margin-left: 45px;
}

#produit #features .features .add_to_cart .submit{
    display: block;
    background: url(/img/ajouter-au-panier.png) no-repeat center center;
    width: 143px;
    height: 30px;
    border: none;
    margin: 10px 0;
}

#produit #features .images{
    margin-bottom: 20px;
    float: left;
}

#produit #features .images,
#produit #features #custom-pager{
    width: 340px;
}
#produit #features .images img,
#produit #features #custom-pager img{
    border: solid 1px #539cf1;
}

#produit #features #custom-pager{
    text-align: center;
    margin-top: 10px;
}

#produit #features #custom-pager img{
    margin-left: 5px;
}

#produit .share{
    background: #c9ddfd;
    min-height: 37px
}

#produit .share .imprimer{
    background: url(/img/imprimer.png) no-repeat left center;
    width: 80px;
    height: 37px;
    line-height: 37px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 70px;

}

#produit .share .envoyer-a-un-ami{
    background: url(/img/envoyer-a-un-ami.png) no-repeat left center;
    width: 125px;
    height: 37px;
    line-height: 37px;
    display: inline-block;

}


#produit h3.paragraphe-titre {
    color: #000;
    font-size: 16px;
    border-bottom: solid 1px #539cf1;
}

#produit h3.paragraphe-titre .top{
    background: url(/img/produit-top.png) no-repeat center center;
    display: inline-block;
    width: 21px;
    height: 11px;
}

#produit .produit-menu{
    font-size: 12px;
}
#produit .produit-menu a{
    text-decoration: none;
    color: #539cf1;
}

#produit .caracteristique .row{
    background: url(/img/carre.png) no-repeat 5px center;
    min-height: 32px;
    line-height: 32px;
    padding-left: 20px;
}
#produit .caracteristique .row.odd{
    background-color: #a3cbfa;
}

/*--------------------------------------------*/

/*-----------------Page Identification-----------*/
#identification{
    background: url(/img/bg-identification.png) no-repeat right 80px;
}

#identification .forms{
    float: left;
    padding-top: 130px;
    width: 100%;
}

#identification .forms a{
    color: #0053b4;
}

#identification .forms .form{
    float: left;
    height: 210px;
    padding: 10px 20px;
    width: 305px;
}

#identification .forms .creation {
    background: url(/img/form-blue.png) no-repeat center center;
    color: #539cf1;
}

#identification .forms .creation h3{
    background: url(/img/creer-un-compte.png) no-repeat center center;
    width: 183px;
    height: 24px

}

#identification .forms .creation a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background: #539cf1;
    font-size: 14px;
    font-weight: bold;
}

#identification .forms .creation a.particulier{
    background: #accff0;
    margin-right: 20px;
}

#identification .forms .login{
    background: url(/img/form-orange.png) no-repeat center center;
}

#identification .forms .login h3{
    background: url(/img/deja-un-compte.png) no-repeat center center;
    width: 202px;
    height: 24px;
    margin-bottom: 35px;

}

#identification .forms .login .row{
    margin: 10px 0;
}

#identification .forms .login label{
    width: 90px;
    display: inline-block;
}

#identification .forms .login input.text{
    border: solid 1px #ff9c00;
    width: 190px;
}

#identification .forms .login input.submit{
    border: none;
    background: #fb8800;
    color: #fff;
    padding: 5px 15px;
    margin-left: 15px;
}
/*----------------------------------------------*/


/*------------Pagination----------*/


#pager{
    text-align: center;
}

#pager a,#pager span{
    display: inline-block;
    background: #bfe6f6;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #0012ff;
}

#pager span{
    color: #000;
}

.pager_number{
    color: #539cf1
}
/*-------------------------------*/


/*----------Mes Devis------------*/
#mesdevis h3#titre{
    background: url(/img/mes-devis.png) no-repeat center center;
    height: 37px;
    width: 960px;
    text-indent: -999px;
}

#mesdevis table,#mesdevis td{
    border-collapse: collapse;
    text-align: center;	
}
#mesdevis table{
    width: 100%
}

#mesdevis table th{
    background: #e4e4e4;
    height: 45px;
}

#mesdevis table th.first{
    border-radius: 35px 0px 0px 0px;
}
#mesdevis table th.last{
    border-radius: 0px 35px 0px 0px;
}

#mesdevis table td{
    border: solid 1px #a2a2a2;	
}

#mesdevis table td.numero{
    font-weight: bold;
}

#mesdevis table td.numero span{
    color: #1b7dec;
}

#mesdevis table td.numero,
#mesdevis table td.client{
    font-style: italic;
}
#mesdevis table td.action{
    width: 280px;
}

#mesdevis table td.action a {
    color: #1B7DEC;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 80px;
}


#mesdevis table td.action a img {
    display: block;
    margin: 0 auto;
    padding: 5px;
}

#mesdevis table td.commander .valide{
    color: #1B7DEC;
    background: url(/img/devis-ok.png) no-repeat left center;
    display: inline-block;
    padding-left: 25px;
    line-height: 20px;
}

#mesdevis table td.commander .jevalide{
    text-indent: -9999px;
    display: inline-block;
    width: 192px;
    height: 33px;
    background: url(/img/je-valide-ce-devis.png) no-repeat center center;
}

/*-------------------------------*/

/*----------Mes commandes------------*/
#mescommandes h3#titre{
    background: url(/img/mes-commandes.png) no-repeat center center;
    height: 37px;
    width: 960px;
    text-indent: -999px;
}

#mescommandes table,#mescommandes td{
    border-collapse: collapse;
    text-align: center;	
}
#mescommandes table{
    width: 100%
}

#mescommandes table th{
	background: none repeat scroll 0 0 #E4E4E4;
	height: 35px;
}

#mescommandes table th.first{
    border-radius: 10px 0 0 0;
}
#mescommandes table th.last{
    border-radius: 0 10px 0 0;
}

#mescommandes table td{
    border: solid 1px #a2a2a2;	
}

#mescommandes table td.numero{
    font-weight: bold;
}

#mescommandes table td.numero span{
    color: #1b7dec;
}

#mescommandes table td.numero,
#mescommandes table td.client{
    font-style: italic;
}
#mescommandes table td.action{
    width: 280px;
}

#mescommandes table td.action a {
    color: #1B7DEC;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 80px;
}


#mescommandes table td.action a img {
    display: block;
    margin: 0 auto;
    padding: 5px;
}

#mescommandes table td.commander .valide{
    color: #1B7DEC;
    background: url(/img/devis-ok.png) no-repeat left center;
    display: inline-block;
    padding-left: 25px;
    line-height: 20px;
}

#mescommandes table td.commander .jevalide{
    text-indent: -9999px;
    display: inline-block;
    width: 192px;
    height: 33px;
    background: url(/img/je-valide-ce-devis.png) no-repeat center center;
}

/*-------------------------------*/

/*--------Mon Compte--------------*/

#moncompte h3#titre{
    background: url(/img/mon-compte.png) no-repeat center center;
    height: 37px;
    width: 960px;
    text-indent: -999px;
}


#moncompte .blocks .block{
    float: left;
    width: 284px;
    height: 153px;
    background: url(/img/compte-block-bg.png) no-repeat center center;
    margin: 0 10px 10px 0;
    padding: 15px;
}

#moncompte .blocks .block h3{
    font-weight: bold;
    font-size: 14px;
    color: #1b7dec;
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding-left: 40px;
}
#moncompte .blocks .block p{
    font-size: 14px;
    font-weight: 400;
}

#moncompte .blocks .block.avoirs h3{background: url(/img/mesavoirs.png) no-repeat left center;}
#moncompte .blocks .block.devis h3{background: url(/img/mesdevis.png) no-repeat left center;}
#moncompte .blocks .block.commandes h3{background: url(/img/histo-commandes.png) no-repeat left center;}
#moncompte .blocks .block.infos h3{background: url(/img/infos-perso.png) no-repeat left center;}
#moncompte .blocks .block.adresses h3{background: url(/img/mes-adresse.png) no-repeat left center;}
#moncompte .blocks .block.parrainage h3{background: url(/img/parrainage.png) no-repeat left center;}

#moncompte .blocks .block.devis .notif{
    color: #fff;
    background: #f51313;
    padding: 5px 12px;
    border-radius: 12px; 
}
/*-------------------------------*/


/*----------Recapitualtif---------*/
#recapitulatif .infos{
    display: table-row;
}


#recapitulatif .infos .block {
    border: 1px solid #A2A2A2;
    border-collapse: collapse;
    display: table-cell;
    width: 33%;
}


#recapitulatif .infos .block.adr_fact {
    border-radius: 10px 0 0 10px;
}

#recapitulatif .infos .block.adr_fact h3{
    border-radius: 10px 0 0 0;

}
#recapitulatif .infos .block.mode_trans {
    border-radius: 0 10px 10px 0;
}

#recapitulatif .infos .block.mode_trans h3{
    border-radius: 0 10px 0  0;

}

#recapitulatif .infos .block .content {
    color: #1b7dec;
}

#recapitulatif .infos .block h3 {
    background: #F1F2F3;
    border-bottom: 1px solid #A2A2A2;
    color: #000000;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}

#recapitulatif .infos .block a.update {
    background-color: #FE6600;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: block;
    margin: 5px auto;
    padding: 1px 20px;
    text-align: center;
    text-decoration: none;
    width: 60px;
}

#recapitulatif .precedent{
    background: url(/img/precedent.png) no-repeat center center;
    border: none;
    width: 106px;
    height: 31px;
}

#recapitulatif .valider-porsuivre{
    background: url(/img/valider-et-poursuivre.png) no-repeat center center;
    border: none;
    width: 192px;
    height: 33px;
}

#recapitulatif .produits,
#monpanier .produits
{
    width: 100%;
}

#recapitulatif .produits,
#monpanier .produits,
#recapitulatif .produits td,
#monpanier .produits td
{
    border-collapse: collapse;
}

#recapitulatif .produits thead,
#monpanier .produits thead
{
    background: url(/img/recap-table-head.png) repeat-x;
    height: 41px;
}
#recapitulatif .produits th{
    vertical-align: top;
}

#recapitulatif .produits th span,
#monpanier .produits th span
{
    background: url(/img/recap-recta.png) no-repeat center bottom;
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 9px;
}

#recapitulatif .produits tbody tr,
#monpanier .produits tbody tr
{
    border-bottom: solid 1px #bcbdbe;
}

#recapitulatif .produits td,
#monpanier .produits td
{
    text-align: center;
    padding-bottom: 5px;
}

#recapitulatif .produits td a,
#monpanier .produits td a
{
    text-decoration: none;
}
/*
#recapitulatif .produits td.designation_prd{
    text-align: left;
}
*/
#recapitulatif .produits td.total{
    font-weight: bold;
}

#recapitulatif .promo {
    background: #F1F2F3;
    padding: 15px;
}


#recapitulatif .promo #code_promo {
    width: 450px;
    border: solid 1px #000;
}
#recapitulatif .promo #ok {
    background: none repeat scroll 0 0 #FE6600;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 20px;
    padding: 5px 15px;
}
#recapitulatif .promo .code_promo_label {
    background: url(/img/icon-promo.png) no-repeat left center;
    padding-left: 12px;
}
#recapitulatif .promo .total{
    float: right;
    font-weight: bold;
}

#recapitulatif .promo .prix,
#monpanier .promo .prix
{
    color: #dd8303;
    box-shadow: 1px;
    text-shadow: 5px 5px 2px #ccc;
}
/*-------------------------------*/

/*----------Mon panier-----------*/
#monpanier .produits .quantite .qte{
    width: 15px;
}

#monpanier .produits .quantite .plus,
#monpanier .produits .quantite .moins
{
    width: 15px;
    height: 16px;
    display: inline-block;
}

#monpanier .produits .quantite .moins{
    background: url(/img/icon-moins.png) no-repeat;
}
#monpanier .produits .quantite .plus{
    background: url(/img/icon-plus.png) no-repeat;
}

#monpanier .promo{
    background-color: #F1F2F3;
}

#monpanier .promo .total{
    float: right;
    padding-right: 20px;
    font-weight: bold;	
}

/*-------------------------------*/

/*-------Livraison et pose--------*/
#livraison-pose .options{
    display: table-row;
}

#livraison-pose .options .option3{
    width: 30%;
    display: table-cell;
    border: solid 1px #ccc;
}
#livraison-pose .options p{
    margin: 0;
    border-bottom: solid 1px #ccc;
    padding-left: 10px;
}

#livraison-pose .options label,
#livraison-pose .options input{
    padding: 10px;
    display: inline-block;
}
#livraison-pose .options span.bd{
    background: #CCCCCC;
    display: inline-block;
    height: 100%;
    padding: 10px 0;
    margin-left: 10px;
    width: 1px;
}
#livraison-pose .options img{
    display: block;
    margin: 0 auto;
}


#livraison-pose .un,
#livraison-pose .deu
{
    padding-left: 45px;
    line-height: 30px;

}

#livraison-pose .un span.orange,
#livraison-pose .deu span.orange
{
    font-weight: bold;
}
#livraison-pose .trois
{
    padding-left: 45px;
    line-height: 30px;

}
#livraison-pose .trois{
    background: url(/img/3.png) no-repeat left center;
}
#livraison-pose .trois span.orange
{
    font-weight: bold;
}
#livraison-pose .un{
    background: url(/img/1.png) no-repeat left center;
}

#livraison-pose .deu{
    background: url(/img/2.png) no-repeat left center;
}

#livraison-pose .options2 {
    float: left;
    width: 100%;
}

#livraison-pose .options2 .option{
    border: 1px solid #CCCCCC;
    display: inline-block;
    float: left;
    width: 45%;
}

#livraison-pose .options2 .ou{
    width: 8%;
    text-align: center;
    border: none;
}

#livraison-pose .options2 .input{
    float: left;
    width: 5%;
}

#livraison-pose .options2 .text{
    float: left;
    width: 95%;
}

#livraison-pose .options2 .label{
    background-color: #EFEFEF;
    display: block;
    padding: 10px 0 10px 5px;
}

#livraison-pose textarea{
    width: 100%;
    height: 170px;
}
#livraison-pose .submit{
    border: none;
    background: url(/img/valider-et-continuer.png) no-repeat;
    width: 251px;
    height: 38px;
    float: right;
}
#btn-livraison{
	float:right;
	margin-top:10px;
    border: none;
    background: url(/img/BTN-livraison.png) no-repeat;
    width: 155px;
    height: 38px;
}
#btn-connexion{
	float:right;
	margin-top:10px;
    border: none;
    background: url(/img/BTN-connecter.png) no-repeat;
    width: 188px;
    height: 38px;
}
#btn-precedent{
    border: none;
    background: url(/img/BTN-precedent.png) no-repeat;
    width: 188px;
    height: 38px;
}
/*-------------------------------*/

/* CSS Document */
*{margin:0;padding:0;}
html {height:100%; font-size: 100%;/* Évite un bug d'IE 6-7.*/}
.clear{clear:both;float:none;}
a,img{border:none; text-decoration:none}
li{list-style-type:none;}
body{font-family:Arial;font-size:14px;line-height:normal;}
/***** Page Paiement *****/
.page{width:1000px;margin:30px auto;}
.menu{width:995px;height:46px;margin:auto;}
.bloc_paiement{width:950px;padding:25px;}
.montant{border-bottom:1px solid #BFBFBF;padding:10px 0;}
.orange{color:#fd7625;}
.texte_paiement{padding:20px 0;background:url("/images/trait.jpg") repeat-x bottom;}
.type_paiement{background:url("/images/trait.jpg") repeat-x bottom;}
.logo_pay{float:left;width:420px;text-align:center;padding:20px 0 0;}
.logo_pay img{font-size:16px;font-weight:bold;color:#010101;}
.choix_pay{
/*
width:530px;float:left;
*/
}
.choix_pay p{display:table-cell;height:112px;vertical-align:middle;}
.choix_pay input.choice{margin-right:7px;}
.back_to{margin-top:45px;}
.back_to a img{display:block;font-size:16px;font-weight:bold;color}


#countdown-blog {margin-left:490px;color:#000;height:200px}
#countdown-blog div.set{float:left}
#countdown-blog h2{text-align:center; font-size:18px}
#countdown-blog ul{list-style-type:none;height:103px;padding:0px 0px 5px}
#countdown-blog li{float:left;background:url(/compteur/filmstrip_countdown_9-0.png) 0 0 no-repeat;width:53px;height:103px}
#countdown-blog li#s0, li#m0{background:url(/compteur/filmstrip_countdown_5-0.png) 0 0 no-repeat}
#countdown-blog li#h0{background:url(/compteur/filmstrip_countdown_2-0.png) 0 0 no-repeat}
#countdown-blog li.comma{background:url(/compteur/comma.png) 2px 75px no-repeat;width:12px}
#countdown-blog div.separator{float:left; font:80px Arial,sans-serif; height:103px; padding:0px 0 0;}



